body{
  font-family: Arial;
  margin: 0px;
}

*{
  text-align: center;
}
.grid-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  
}
.input-box, .date-box{
  font-size: 15px;
  padding: 10px 5px;
}
.addButton, .delButton{
  background-color: rgb(194, 27, 27);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}



