#Calc{
  border: 1px solid rgb(209, 200, 200);
  border-radius: 5px;
  width: 200px;
  background-color: pink;
}

#display{
  margin: 10px;
  width: 83%;
  font-size: 30px;
  background-color: rgb(253, 252, 252);
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 45px;
  height: 45px;
  margin: 5px;
  background-color: rgb(203, 193, 247);
}